<!DOCTYPE html>
<html lang="en"  ng-app="chat">
<head>
    <meta charset="UTF-8">
    <title>gamrule chat</title>
</head>
<body>
    chat with friends

<div ng-controller="chatCtrl as vm">
    <div ng-show="vm.formModel.needLogin">
        <input ng-model="vm.formModel.userid"/>
        <input type="button" value="login" ng-click="vm.login();"/>
    </div>
    <div class="friends">
        <div>friend lists</div>
        <div class="friends" ng-repeat="friend in vm.friends">
            <div ng-class="{current: vm.currentChatUser.id == friend.id,newMsg:friend.newMsgArrv}" ng-click="vm.chatWithFriend(friend)">{{friend.username}}</div>
        </div>
    </div>
    <div class="messageBox" ng-if="vm.currentChatUser.id">
        I'm {{vm.formModel.userid}} and I'm chatting with {{vm.currentChatUser.id}}-{{vm.currentChatUser.username}}
        <div style="border: 1px dashed">
            <div>
                <p ng-repeat="msg in vm.userMesage[vm.currentChatUser.id] track by $index">{{msg}}</p>
            </div>
            <div>
                <input ng-model="vm.formModel.gotosend" />
                <input type="button" ng-click="vm.send(vm.currentChatUser);" value="send"/>
            </div>
        </div>

    </div>
</div>
</body>


<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="public/angular/angular.js"></script>
<script type="text/javascript" src="public/angular-socket-io/socket.min.js"></script>
<script type="text/javascript" src="public/js/chatModule.js"></script>
<link rel="stylesheet" href="public/style/style.css">

</html>