<!DOCTYPE html>
<html lang="en"  ng-app="chat">
<head>
    <meta charset="UTF-8">
    <title>gamrule chat</title>
</head>
<body>
    chat with friends

<div ng-controller="chatCtrl as vm">
    <div ng-show="vm.formModel.needLogin">
        <input ng-model="vm.formModel.userid"/>
        <input type="button" value="login" ng-click="vm.login();"/>
    </div>
    <div ng-repeat="friend in vm.friends">
        <div ng-click="vm.chatWithFriend(friend)">{{friend.username}}</div>
    </div>
    <div ng-if="vm.currentChatUser">
        {{vm.currentChatUser.id}}
        <div>
            <div>
                <p ng-repeat="msg in vm.userMesage[vm.currentChatUser.id]">{{msg}}</p>
            </div>
            <div>
                <input ng-model="vm.formModel.gotosend" />
                <input type="button" ng-click="vm.send(vm.currentChatUser);" value="send"/>
            </div>
        </div>

    </div>
</div>
</body>


<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="public/angular/angular.js"></script>
<script type="text/javascript" src="public/angular-socket-io/socket.min.js"></script>
<script type="text/javascript" src="public/js/chatModule.js"></script>

</html>